{% extends "layout.html" %}
{% block head%}
<style>
.q_grid{
	display: grid;
}

</style>
{% endblock %}
{% block content%}
<h2>Query</h2>
<div class="q_grid">
  <button type="button" onclick="oneResponseCommand('Q')">Status</button>
  <button type="button" onclick="oneResponseCommand('?4')">Actual Syringe Position</button>
  <button type="button" onclick="oneResponseCommand('?2')">Maximum Velocity</button>
  <button type="button" onclick="oneResponseCommand('F')">Command Buffer Status</button>
</div>
{% endblock %}
